.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:#25d366;
	color:#FFF;
	border-radius:50px;
	text-align:center;
  font-size:30px;
	box-shadow: 2px 2px 3px #999;
  z-index:100;
}

.my-float{
	margin-top:16px;
}
.my-floatFac{
    margin-top:16px;
    margin-left: 0px;
}
.floatFac{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	left:40px;
	background-color:#0948f5;
	color:#FFF;
	border-radius:50px;
	text-align:center;
  font-size:30px;
	box-shadow: 2px 2px 3px #999;
  z-index:100;
}
.floatFacT{
    position:fixed;
	width:60px;
	height:60px;
	bottom:60px;
	left:30px;
	color:black;
  font-size:30px;
	font-size: smaller;
  z-index:100;
}
.floatFacW{
    position:fixed;
	width:60px;
	height:60px;
	bottom:60px;
	right:40px;
	color:black;
  font-size:30px;
	font-size: smaller;
  z-index:100;
}